.intro {
    text-align: center;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10px;
    flex: content
  }

  .me {
    float: right;
    margin-right: 30%;
    width: 200px;
    margin-top: 50px;
  }
