@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.scrollport {
  -webkit-mask-image: linear-gradient(to right, #0000, #000, #000, );

  overflow-x: auto;
  overscroll-behavior-x: contain;

  display: flex;
  gap: var(--size-10);
  align-items: start;
  padding: var(--size-10);
}

.scrollport > div {
  block-size: var(--size-4);
  aspect-ratio: var(--ratio-square);
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  height: 300px;
  width: 300px
}

h2{
    text-align: center;
    margin-top: 30px;
}

p{
    text-align: center;
}

.project2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
